################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.nupkg
/ChiKien276.AspNetCore.MultipartHelper/bin/Debug/netcoreapp2.0
/ChiKien276.AspNetCore.MultipartHelper/obj
/.vs/ChiKien276.AspNetCore.MultipartHelper/v15
